textarea, select[multiple=multiple] {
    background-color: white;
    border: 2px solid lighten($base-border-color, 25%);
    box-shadow: $base-box-shadow;

    &:hover {
        border-color: $border-color-hover;
    }

    &:focus {
        border-color: $border-color-focus;
    }
}
textarea {
    width: 100%;
    box-sizing: border-box !important;
}

fieldset.input {
    margin: 0;
    padding: 0;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
    background-color: white;
    vertical-align: middle;
    border: 2px solid lighten($base-border-color, 25%);
    box-shadow: $base-box-shadow;
    font-size: $core-font-size;
    width: 100%;
    line-height: $core-line-height;
    transition: border-color 0.2s;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: $border-color-hover;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: $border-color-focus;
}
